---
import Layout from '../layouts/Layout.astro';
import QuizForm from '../components/QuizForm';
---

<Layout title="TikTok Video Generator">
  <main class="min-h-screen bg-background">
    <QuizForm client:load />
  </main>
</Layout> 